{% extends 'base.html.twig' %}
{% block title %}Project{% endblock %}
{% block body %}
<div class="container project">
	<h2>Project!</h2>
	<div>
		<h3>Projects</h3>
		<table>
			<tr>
				<th>Project's Name</th>
				<th>Project's Status</th>
				<th>Project's Members</th>
			</tr>
			{% for project in projects %}
			<tr>
				<td>{{ project.name }}</td>
				<td>{{ project.state }}</td>
				<td>{{ project.members.count }}</td>
			</tr>
			{% endfor %}
		</table>
	</div>
</div>
{% endblock %}
