body {
  font-family: 'Lato', arial, sans-serif;
  color: #434343;
  background: #515151;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #778492;
}
a {
  color: #479FC8;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}
a:hover {
  text-decoration: underline;
  color: #5f6b77;
  color: #3757EA;
}
a:focus {
  text-decoration: none;
}
.btn,
a.btn {
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  font-family: 'Montserrat', arial, sans-serif;
  padding: 8px 16px;
  font-weight: bold;
}
.btn .fa,
a.btn .fa {
  margin-right: 5px;
}
.btn:focus,
a.btn:focus {
  color: #fff;
}
a.btn-cta-primary,
.btn-cta-primary {
  background: #479FC8;
  border: 1px solid #479FC8;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
}
a.btn-cta-primary:hover,
.btn-cta-primary:hover {
  background: #3757EA;
  border: 1px solid #3757EA;
  color: #fff;
}

/* ======= Header ======= */
.header {
  padding: 30px 0;
  background: #343333;
  border-top: 10px solid #778492;
}
.header .btn {
  margin-top: 60px;
  font-weight: bold;
}
.header .profile-image {
  margin-right: 30px;
}
.header .profile-content .name {
  color: #ffffff;
  font-size: 38px;
  margin-bottom: 5px;
  margin-top: 30px;
}
.header .profile-content .desc {
  color: darkCyan;
  font-family: "Lato", arial, sans-serif;
  font-weight: 400;
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 15px;
}
.header .input-group{
  padding-left: 60px;
  padding-right: 60px;
}
.header .input-group .form-control {
  margin-top: 60px;
  padding: 18px;
}
.navbar-default {
  background-color: #343333;
  border-color: #343333;
}
.navbar-default .navbar-nav>li>a:hover {
  color: #3757EA;
}
.navbar-default .navbar-nav>li>a {
  color: #479FC8;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #479FC8;
}
/* Table */
.table{
  margin-top: 60px;
}
.table>thead>tr>th {
  color: #D2D9D8;
}
.form-group>span {
  padding-top: 10px;
  padding-bottom: 10px;
}
.form-group>input{
  margin-top: 15px;
}
/* Form */
.input-lg{
  margin-bottom: 15px;
  margin-top: 15px;
}
label{
  color: #000000;
}
.save{
  color: #00F719;
  padding-top: 10px;
}
/* For Firefox only */
@-moz-document url-prefix() {
    .input-file-sm {
        height: auto;
    }
}
@-moz-document url-prefix() {
    .input-file-bt {
      height: auto;
      padding: 17px;
    }
}
@-moz-document url-prefix() {
    .header .btn{
     padding: 17px; 
    }
}

/* ======= Sections======= */
.sections-wrapper {
  padding-top: 20px;
  padding-bottom: 20px;
}
.section {
  margin-bottom: 30px;
}
.section .section-inner {
  background: #fff;
  padding: 30px;
}
.section .heading {
  margin-top: 0;
  margin-bottom: 30px;
  color: #545e69;
  font-size: 24px;
}
/* ======= Footer ======= */
.footer {
  background: #32383e;
  color: #fff;
  padding: 10px 0;
}
.footer a {
  color: #fff;
}
/* Extra small devices (phones, less than 768px) */
@media (max-width: 767px) {
  .header {
    text-align: center;
  }
  .header .profile-image {
    float: none !important;
    margin: 0 auto;
  }
  .header .profile-content {
    float: none !important;
    text-align: center;
  }
  .header .btn {
    margin-top: 30px;
    float: none !important;
  }
  .header .input-group .form-control {
  margin-top: 30px;
  padding: 18px;
  float: none !important;
  }
  .project-image {
    margin-bottom: 15px;
  }
}

@media (max-width: 993px) {
   .header .input-group .form-control {
    margin-top: 26px;
    margin-right: 32px;
    padding: 18px;
    float: none !important;
  }
  .input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-groupn {
    margin-top: 26px;
  }

} 
/* Small devices (tablets, 768px and up) */
/* Medium devices (desktops, 992px and up) */
/* Large devices (large desktops, 1200px and up) */
/* Ex-Large devices (large desktops, 1200px and up) */
@media (min-width: 1400px) {
  .container {
    width: 1360px;
  }
}