<nav>
    <ul class="nav nav-tabs">
        <li role="presentation">
            <a href="{{ path('tbf_homepage') }}">Accueil</a>
        </li>
        <li role="presentation">
            <a href="{{ path('tbf_skills_index') }}">Compétences</a>
        </li>
        <li role="presentation">
            <a href="{{ path('tbf_projects') }}">Projets</a>
        </li>
        <li role="presentation">
            <a href="{{ path('tbf_users') }}">Utilisateurs</a>
        </li>
        <li role="presentation">
          
        </li>
    </ul>
</nav>